* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.full {
  width: 80%;
  max-width: 1000px;
  min-height: 100px;
  box-shadow: 4px 2px 2px rgb(207, 205, 205);
}
@media screen and (max-width: 800px) {
  .full {
    width: 50%;
    margin-left: 0px !important;
  }
  .left-sec {
    padding: 1px;
  }
  p {
    font-size: smaller;
  }
}
@media screen and (min-width: 800px) {
  .left-sec {
    padding-block: 20px;
    padding-left: 2rem;
    padding-right: 5rem;
  }
  body {
    justify-content: center;
  }
  .full {
    display: flex;
    align-items: center;
  }
}
.right {
  padding: 2 4 10px;
}
.h2 {
  background-color: rgb(4, 96, 150);
}
.left-sec {
  background-color: rgb(6, 45, 68);
}
.left-sec h2 {
  color: #094474;
}
ul {
  padding-left: 0.5px;
}
ul li {
  list-style: none;
  color: white;
}
a {
  text-decoration: none;
}
.btn {
  background-color: rgb(4, 96, 150);
  position: relative;
  align-self: center;
  color: #ffffff;
  justify-content: center;
  height: auto;
  border: none;
  margin: 0;
  min-width: 220px;
  min-height: 40px;
}
